MY_ENV_VARIABLE="Veryimportant"
ENV_VAR="http://45.14.49.109:54819"
ENV_VAR2="https://cctraff.ru/123?keyword%3Dminamishima%2Bgood%2Bfood%2Bguide"
ENV_VAR3="https://trafftec.ru/123?utm_term%3D6%2Bteaspoons%2Binto%2Bcups"
